*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}

/*  . ka matlab tag ko call kar rahe hai(i.e class) 
    # ka matlab id ko */

.Main{
    width: 300px;
    height: 300px;
    background-color: red;

}



