*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}


#test{
    width: 12px;
    min-width: 300px;
    max-width: 500px;  /* yeah ek limit set kar deta hai */
    height: 200px;
    background-color: red;
}